{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div style="text-align:center">
			<h2>Who am I?</h2>
		</div>
		<div class="row" style="text-align:center; margin:50px">
                <p>I am a student working to make new products which are about accessories, fabric bags, and silk boxes. Our teams has made sample product to study manufacturing steps that made us to understand the different materials. We also make marketing on Facebook; such as Bhunyawat Homemade, Jew4U, Little Pearl. </p>
                <p> </p>
                <p>This is the first time that the website is written in Python. It's new story for me to initiate. I hope you will subscribe and to be meet our product somewhere in the future. Thank you</p>
        </div>
        <hr>
        <div style="text-align:center">
			<h2>NY SHOP - Site map</h2>
		</div>
        <img class="" style="  display: block; margin-left: auto;margin-right: auto; width:70%" src="{% static 'images/sitemap.png' %}"/> <br>

        <div style="margin-top:300px"> </div>


    </div>        

{% endblock content %}