<!--manage-->

{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<h2>Manage Items</h2>
<br>
<div class="row">
    <form action="" method="POST" enctype="multipart/form-data">
        
        {% csrf_token %}

        <label >Brand (note: bhunyawat, wake, jew4u)</label><br>
        <input type="text"  name="pBrand" placeholder="brand.."><br>
        <label >Product Name</label><br>
        <input type="text" name="pName" placeholder="product name.."><br>
        <label >Product Detial</label><br>
        <input type="text" name="pDetail" placeholder="product detail.."><br>
        <label >Product Price</label><br>
        <input type="text" name="pPrice" placeholder="product price.."><br>
        <label >Product Image</label><br>
        <input type="file" name="pFile" placeholder="product detail.."><br>

        <input type="submit" class="btn btn-secondary" value="Submit">
    </form> 
		
        <div style="margin-top:300px"> </div>

{% endblock %}
